
.Roles.modal #rolesView {
  height: 200px;
  overflow-y: auto;
  padding: 0;
}

/*****************************************
          Whats on your mind textarea 
*****************************************/
.ui.form .WhatsOnYourMind{
  font-size: 1.2rem;
  line-height: 1.2;
  min-height: 6rem;
  height: 6rem;
  max-height: 24rem;

  white-space: pre-wrap;
  word-wrap: break-word;
  border-collapse: separate;
  resize: none;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
