
<div id="allBadges" style="height: 20rem;">
	
	<div>
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/newbie.png">
			</a>
		</div>

		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/adventurer.png">
			</a>
		</div>

		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/explorer.png">
			</a>
		</div>
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/superstar.png">
			</a>
		</div>
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/superstar.png">
			</a>
		</div>
	</div>

	<div>
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/newbie.png">
			</a>
		</div>

		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/adventurer.png">
			</a>
		</div>

		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/explorer.png">
			</a>
		</div>
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/superstar.png">
			</a>
		</div>
	</div>

	<div>
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/newbie.png">
			</a>
		</div>

		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/adventurer.png">
			</a>
		</div>

		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/explorer.png">
			</a>
		</div>
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/superstar.png">
			</a>
		</div>
	</div>

	<div>
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/newbie.png">
			</a>
		</div>

		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/adventurer.png">
			</a>
		</div>

		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/explorer.png">
			</a>
		</div>
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/superstar.png">
			</a>
		</div>
	</div>

	<div>
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/newbie.png">
			</a>
		</div>

		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/adventurer.png">
			</a>
		</div>

		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/explorer.png">
			</a>
		</div>
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/superstar.png">
			</a>
		</div>
	</div>

	<div class="SmallBadges">
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/newbie.png">
			</a>
		</div>

		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/adventurer.png">
			</a>
		</div>

		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/explorer.png">
			</a>
		</div>
		<div class="SmallBadge">
			<a href="#" class="ui image">
				<img src="/img/badges/superstar.png">
			</a>
		</div>
	</div>

</div>