<div class="ui blue feed segment" style="margin-top: 15px;">

  <h2 class="ui header">
    <i class="inverted circular blue reorder icon"></i>Recent Activity
  </h2>

  <!-- VOID MESSAGE -->
  <div class="ui icon info message">
  <i class="icon info letter"></i>
    <div class="content">
      <div class="header">No activity in your network yet.</div>
    </div>
  </div>

  <div class="event">
    <div class="label">
      <img src="/img/avatar.png" />
    </div>
    <div class="content">
      <div class="date">
        Just moments ago
      </div>
      <div class="summary">
        <a>Sally Poodle</a> added you as a friend
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <i class="circular pencil icon"></i>
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
        You submitted a new post to the page
      </div>
      <div class="extra text">
        I am a dog and I do not know how to make a post
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <i class="circular photo icon"></i>
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
        <a>Sally Poodle</a> added <a>2 new photos</a> of you
      </div>
      <div class="extra images">
        <img src="/img/avatar.png">
        <img src="/img/avatar.png">
      </div>
    </div>
  </div>
</div>