<div class="ui Review modal transition hidden" id="sessionModal" style="margin-top: 1em; top: 163px;">
  <i class="close icon"></i>
  <div class="header">
    Write A Review For KHOCEF
  </div>
  <div class="content">
    <form class="ui form">
      <div class="two fields">
        <div class="field">
          <label>Title</label>
          <input placeholder="Your review title" type="text">
        </div>
        <div class="field" style="padding-top: 1.5em">
          <div class="ui Review large star rating">
            <i class="icon" title="bad"></i>
            <i class="icon" title="poor"></i>
            <i class="icon" title="regular"></i>
            <i class="icon" title="good"></i>
            <i class="icon" title="gorgeous"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Review</label>
        <textarea placeholder="Your review"></textarea>
      </div>
      <div class="ui orange submit button">Submit</div>
    </form>
  </div>
</div>
<!-- Temporary JS -->
<script type="text/javascript">
    // New user review modal
    // $('.Review.modal')
    //     .modal('setting', {
    //         closable: true,
    //         allowMultiple: false,
    //         transition: 'vertical flip',
    //         duration: 300
    //     })
    //     .modal('attach events', '#review', 'show');
</script>