<div class="ui Session modal scrolling" style="margin-top: 1em; top: 163px;">
	<div class="header">
		<!-- <h3 class="ui right floated purple header"> -->		
		<div class="ui middle aligned grid">
			<div class="twelve wide column">
				2 : 12 Remaining
			</div>
			<div class="four wide right aligned column">
				<!-- ACTIVE SESSIONS NOTIFICATONS -->
				<img src="/img/avatar.png" class="ui avatar image" data-variation="inverted" />
				<img src="/img/avatar.png" class="ui avatar image" data-variation="inverted" />
			</div>
		</div>

		<!-- ACTIVE SESSIONS NOTIFICATIONS -->
		<!-- </h3>
		<h3 class="ui left floated black header"> -->
			<!-- Me vs You
		</h3> -->
	</div>
	<div class="content"> <!--style="height:100%;"-->
		<div class="ui stackable grid">
			<div class="ten wide column">
				<div class="ui grid">
					<div class="row">
						<div class="ui massive list" id="ChatWindow">
							<!-- USER SPOKEN TO -->
							<li class="item You">
								<div class="Chat image">
									<img src="/img/avatar.png" width="50" height="50">
									<b>toto</b>
									<i class="Time">
										a few seconds ago
									</i>
								</div>
								<p>
									<!-- limit the number of word/chars in the message input -->
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.
								</p>
							</li>
							<!-- USER SPEAKING -->
							<li class="item Me">
								<div class="Chat image">
									<img src="/img/avatar.png" width="50" height="50">
									<b>toto</b>
									<i class="Time">
										a few minutes ago
									</i>
								</div>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.
								</p>
							</li>
						</div>
					</div>
					<div class="row">
						<div class="column">
							<!-- MESSAGE INPUT -->
							<form class="ui form">
								<div class="ui fluid icon input">
									<input id="message" type="text" placeholder="Write something...">
									<i class="chat icon" id="sendMsg"></i>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
			
			<div class="six wide column" >

				<div class="ui grid">
					<!-- <div class="right aligned row">
						<div class="column"> -->
							<!-- ACTIVE SESSIONS -->
						<!-- 	<img src="/img/avatar.png" class="ui Session avatar image">
							<img src="/img/avatar.png" class="ui Session avatar image">
						</div>
					</div> -->

					<div class="row">
						<!-- CHAT HISTORY -->
						<div class="column">
							<div class="ui Chat History piled feed segment">
								<h4 class="ui header">
									Chat Activity
								</h4>
								<div class="event">
									<div class="label">
										<img src="/img/avatar.png">
									</div>
									<div class="content">
										<div class="date">
											<span>Just moments ago</span>
										</div>
										<div class="summary">
											<span>added you as a friend</span>
										</div>
									</div>
								</div>
								<div class="event">
									<div class="label">
										<img src="img/avatar.png">
									</div>
									<div class="content">
										<div class="date">
											<span>Just moments ago</span>
										</div>
										<div class="summary">
											<span>added you as a friend</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>