<div class="ui basic vertical segment">
  <div class="ui blue top attached segment">
    <h4 class="ui header">Public Sessions</h4>
  </div>
  <div class="ui attached feed segment">
    <div class="ui divided list">
      <div class="item">
        <div class="right floated tiny blue ui vertical animated button">
          <div class="visible content">Watch</div>
          <div class="hidden content" style="text-align:center;">
            02:05
          </div>
        </div>
        <div class="content">
          <div class="header">Animal to Human</div>
        </div>
      </div>
      <div class="item">
        <div class="right floated tiny blue ui vertical animated button">
          <div class="visible content">Watch</div>
          <div class="hidden content" style="text-align:center;">
            00:13
          </div>
        </div>
        <div class="content">
          <div class="header">Cop to Celebrity</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui purple bottom attached secondary more button" data-page="2">
    View more open sessions
    <i class="caret down icon"></i>
  </div>
</div>