<div class="ui basic vertical segment">

  <div class="ui blue top attached segment">
    <h4 class="ui header">Switch requests</h4>
  </div>

  <div class="ui attached feed segment">
    <div class="ui comments">
      <div class="ui comment" id="">
        <a href="/users/219160" class="avatar">
          <div class="ui circular image">
            <img src="/img/avatar.png">
          </div>
        </a>
        <div class="content">
          <a href="/khocef" class="author">Khocef</a>
          <div class="date">about 24 seconds ago</div>
          <div class="text">
            Hi i'm looking for an elephant to talk to ...
          </div>
        </div>
      </div>
      <div class="ui comment" id="">
        <a href="/users/219160" class="avatar">
          <div class="ui circular image">
            <img src="/img/avatar.png">
          </div>
        </a>
        <div class="content">
          <a href="/khocef" class="author">Khocef</a>
          <div class="date">about 24 seconds ago</div>
          <div class="text">
            Hi i'm looking for an elephant to talk to ...
          </div>
        </div>
      </div>
      <div class="ui comment" id="">
        <a href="/users/219160" class="avatar">
          <div class="ui circular image">
            <img src="/img/avatar.png">
          </div>
        </a>
        <div class="content">
          <a href="/khocef" class="author">Khocef</a>
          <div class="date">about 24 seconds ago</div>
          <div class="text">
            Hi i'm looking for an elephant to talk to ...
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui purple bottom attached secondary more button" data-page="2">
    View more requests
    <i class="caret down icon"></i>
  </div>
</div>