<div class="ui segment">
  <form class="ui form">
    <div class="grouped inline fields">
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="email-notif" checked="">
          <label>You receive a review</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="email-notif" checked="">
          <label>You get a new badge</label>
        </div>
      </div>
    </div>
  </form>
</div>
<p>Newsletters</p>
<div class="ui segment">
  <form class="ui form">
    <div class="grouped inline fields">
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="roleswitch-notif" checked="">
          <label>Updates about Roleswitch</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="roleswitch-notif" checked="">
          <label>Switch Requests you may be interested of</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="roleswitch-notif" checked="">
          <label>Community updates</label>
        </div>
      </div>
    </div>
  </form>
</div>